@font-face {
    font-family: 'Diamond';
    src: url('lib://com.github.lector.dsa5maptool/styles/Diamond.ttf');
}

body {
    font-size: 9pt;
    background-color: #ece9d8;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    color: #441e13;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: #7b5547;
}

table {
    font-size: inherit;
    font-family: inherit;
    border-spacing: 0px;
}

select {
    font-size: inherit;
    padding: 2px;
}

input[type="text"] {
    font-size: inherit;
}

button[type="submit"] table tr td {
    padding-left: 4px;
    padding-right: 4px;
    color: #482902;
    font-family: 'Diamond';
    font-size: 14;
}

.debug {
    border: 1px solid blue;
}
.debug tr {
    border: 1px solid green;
}
.debug tr td {
    border: 1px solid red;
}

.attribute-default {
    color: #eee5c8;
}
.attribute-decreased {
    color: #ff3333;
}
.attribute-increased {
    color: #0099ff;
}

.title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: #482902;
    border-top: 1px solid #7b5547;
    border-bottom: 1px solid #7b5547;
    margin: 20px auto 10px auto;
    width: 350px;
}

.label {
    text-align: right;
    font-weight: bold;
    border-right: 1px solid #7b5547;
    padding: 7px 6px 7px 6px;
    margin-right: 4px;
    vertical-align: top;
}

.probe {
    border-spacing: 0px;
    font-size: 11pt;
    text-align: right;
}

.border {
    margin: 0px;
    padding: 20px;
    height: calc(100% - 46px);
    max-height: calc(100% - 46px);
    overflow: scroll;
    border-image-source: url("lib://com.github.lector.dsa5maptool/styles/border.png");
    border-image-repeat: round;
    border-image-width: 16px;
    border-image-slice: 20 18;
}


.panel {
    margin-left: 28px;
    margin-top: 15px;
    margin-right: 35px;
    border-spacing: 0px;
}

.panel-top {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/panelTop.png");
    background-repeat: no-repeat;
    height: 28;
    width: 431;
}

.panel-middle {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/panelMiddle.png");
    background-repeat: repeat-y;
    padding-left: 10px;
    padding-right: 10px;
    height: 28;
    font-weight: normal;
}
.panel-middle div {
    border-top: 1px solid #eee5c8;
    border-bottom: 1px solid #eee5c8;
    padding: 3px 0px 3px 3px;
}

.panel-bottom {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/panelBottom.png");
    background-repeat: no-repeat;
    height: 28;
}