/* 
//Currently not possible due to javafx restrictions
@font-face {
    font-family: Ringbearer;
    src: url("lib://com.github.lector.dsa5maptool/fonts/RINGM___.woff");
} */

* {
    /* outline: 1px dotted red; */
    font-family: sans-serif; /* Crete Round, Cinzel*/
}

body {
    font-size: 11pt;
    color: #eee5c8;
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/background.png");
    /* border: 1px dotted red; */
}

.debug {
    border: 1px dotted red !important;
}

#header {
    display: grid;
    grid-template-columns: 57px auto 57px;
    grid-template-rows: 16px 46px 4px 46px 13px;
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/header.png");
    background-repeat: no-repeat;
    background-size: 100% 122px;
    height: 122;
    margin: 0px;
}

.charactername {
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    margin-top: 6px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.charbogenNav {
    display:flex;
    justify-content:center;
    align-items:center;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.bar {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/bar.png");
    width: 152px;
    overflow: hidden;
}

.highlight {
    border: 2px solid #eee5c8
}

.highlightHeading {
    font-family: serif;
    font-weight: bold;
    width: 100%;
    border-top: 1px solid #eee5c8;
    border-bottom: 1px solid #eee5c8;
}

.charbogen-werte {
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row-container div {
    width: auto;
}

.column-container {
    display: flex;
    flex-direction: column
}

.energyBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.energyBarText {
    width: 150px;
    height: 33px;
    position: absolute;
}

.energyBarText tr td {
    text-align: center;
    padding-top: 11px;
    cursor: default;
}
.energyBarModifiers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

a {
    text-decoration: none;
    color: #eee5c8;
    font-weight: bold;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: #7b5547;
}

table {
    font-size: inherit;
    border-spacing: 0px;
    /* border: 1px solid green; */
}

select {
    font-size: inherit;
    padding: 2px;
}

input[type="text"] {
    font-size: inherit;
}

#content {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/content.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

#footer {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 34px;
    height: 34;
}

#leisteEigenschaften {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/leisteEigenschaften.png");
    background-repeat: no-repeat;
    background-size: 100% 90px;
    height: 90;
    margin-left: 3%;
    margin-right: 3%;
}

.hidden {
    visibility: hidden;
}

.debug {
    border: 1px solid blue;
}

.attribute-default {
    color: #eee5c8;
    font-size: 10pt;
}

.attribute-decreased {
    color: #ff3333;
    font-size: 10pt;
}

.attribute-increased {
    color: #0099ff;
    font-size: 10pt;
}

.property-less {
    color: #a42b1e
}
.property-greater {
    color: #0099ff
}

.title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: #482902;
    border-top: 1px solid #7b5547;
    border-bottom: 1px solid #7b5547;
    margin: 20px auto 10px auto;
    width: 350px;
}

.label {
    text-align: right;
    font-weight: bold;
    border-right: 1px solid #7b5547;
    padding: 7px 6px 7px 6px;
    margin-right: 4px;
    vertical-align: top;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 15px;
    margin-left: 34px;
    margin-right: 34px;
    border-spacing: 0px;
    border: 20px solid #eee5c8; /* Not shown but needed for the border-image*/
    border-image-source: url("lib://com.github.lector.dsa5maptool/images/mainTheme/panelFrame.png");
    border-image-slice: 35% 30%;
    border-image-repeat: round;
    border-collapse: separate;
    word-wrap: break-word;
}

.panel .heading {
    font-weight: bold;
    width: 100%;
    border-top: 1px solid #eee5c8;
    border-bottom: 1px solid #eee5c8;
    padding: 3px 10px 3px 10px;
}