/* 
//Currently not possible due to javafx restrictions
@font-face {
    font-family: Ringbearer;
    src: url("lib://com.github.lector.dsa5maptool/fonts/RINGM___.woff");
} */

* {
    /* outline: 1px dotted red; */
    font-family: sans-serif; /* Crete Round, Cinzel*/
}

body {
    font-size: 10pt;
    color: #eee5c8;
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/background.png");
    display: grid;
    grid-template-columns: 500px;
    gap: 0;
    /* border: 1px dotted red; */
}

span {
    font-size: inherit;
    font-family: inherit;
}

ul {
    padding-left: 20px;
}

.debug {
    border: 1px dotted red !important;
}

.header {
    display: grid;
    grid-template-columns: 57px auto 57px;
    grid-template-rows: 16px 46px 4px 46px 13px;
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/header.png");
    background-repeat: no-repeat;
    background-size: 500px 122px;
    height: 122px;
    margin: 0px;
}

.charactername {
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    margin-top: 6px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.charbogenNav {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillContainer > :nth-child(2) {
    width: 100%;
    box-sizing: border-box;
}

.skillNavigation {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/skillNavigation.png");
    background-repeat: no-repeat;
    width: 376px;
    height: 70px;
    margin-bottom: -6px;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skillNavigation > * {
    margin-top: 10px;
    z-index: 1;
}

.bar {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/bar.png");
    width: 152px;
    overflow: hidden;
}

.splitterH {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.row-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    justify-items: start;
}

.row-container > div {
    width: auto;
}

.stat-table {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 6px;
    row-gap: 6px;
    padding: 0px;
}
.stat-table > div {
    margin: 0px;
}

.equip-table {
    display: grid;
    align-items: center;
}
.equip-table > div {
    padding: 4px 4px;
    margin: 0px;
    text-align: center;
}
.equipped {
    background-color: #eee5c8;
    color: #3d1919;
}

.equip-table[id="melee"] {
    grid-template-columns: 1fr auto auto auto auto auto auto;
}
.equip-table[id="ranged"],
.equip-table[id="armor"] {
    grid-template-columns: 1fr auto auto auto auto 30px;
}
.equip-table[id="mount"] {
    grid-template-columns: auto 1fr auto auto 30px;
}
.equip-table[id="skill"] {
    grid-template-columns: 1fr auto auto auto;
}
.equip-table[id="combatTechnique"] {
    grid-template-columns: 1fr auto auto auto auto;
}
.equip-table[id="spell"] {
    grid-template-columns: auto 1fr auto auto;
}

.equip-table[id="melee"] > div:nth-child(-n + 7),
.equip-table[id="ranged"] > div:nth-child(-n + 6),
.equip-table[id="armor"] > div:nth-child(-n + 6),
.equip-table[id="mount"] > div:nth-child(-n + 5) {
    font-weight: bold;
    white-space: nowrap;
}
.equip-table[id="skill"] > div:nth-child(-n + 4),
.equip-table[id="combatTechnique"] > div:nth-child(-n + 5),
.equip-table[id="spell"] > div:nth-child(-n + 4) {
    font-family: "IM Fell DW Pica";
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: 1px solid #eee5c8;
    border-top: 1px solid #eee5c8;
}

.equip-table[id="melee"] > div:not(:nth-last-child(-n + 7)),
.equip-table[id="ranged"] > div:not(:nth-last-child(-n + 6)),
.equip-table[id="armor"] > div:not(:nth-last-child(-n + 6)),
.equip-table[id="mount"] > div:not(:nth-last-child(-n + 5)) {
    border-bottom: 1px solid #eee5c8;
}

.equip-table[id="melee"] > div:nth-child(7n + 1),
.equip-table[id="ranged"] > div:nth-child(6n + 1),
.equip-table[id="armor"] > div:nth-child(6n + 1),
.equip-table[id="mount"] > div:nth-child(5n + 2),
.equip-table[id="skill"] > div:nth-child(4n + 1),
.equip-table[id="combatTechnique"] > div:nth-child(5n + 1),
.equip-table[id="spell"] > div:nth-child(4n + 2) {
    text-align: left;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.natureSkillContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.natureSkillContainer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.energyBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.energyBarText {
    width: 150px;
    height: 33px;
    position: absolute;
}

.energyBarText tr td {
    text-align: center;
    padding-top: 11px;
    cursor: default;
}

.energyBarModifiers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #eee5c8;
    font-weight: bold;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: #7b5547;
}

table {
    font-size: inherit;
    border-spacing: 0px;
    /* border: 1px solid green; */
}

select {
    font-size: inherit;
    padding: 2px;
}

input[type="text"] {
    font-size: inherit;
}

.content {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/content.png");
    background-repeat: repeat-y;
    background-size: contain;
    padding-top: 15px;
    padding-left: 34px;
    padding-right: 34px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 34px;
}

#leisteEigenschaften {
    background-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/leisteEigenschaften.png");
    background-repeat: no-repeat;
    background-size: 100% 90px;
    height: 90px;
    margin-top: -15px;
    margin-left: -21px;
    margin-right: -20px;
}

.hidden {
    visibility: hidden;
}

.debug {
    border: 1px solid blue;
}

.attribute-default {
    color: #eee5c8;
    font-size: 10pt;
}

.attribute-decreased {
    color: #ff3333;
    font-size: 10pt;
}

.attribute-increased {
    color: #0099ff;
    font-size: 10pt;
}

.property-less {
    color: #a42b1e;
}
.property-greater {
    color: #0099ff;
}

.title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: #482902;
    border-top: 1px solid #7b5547;
    border-bottom: 1px solid #7b5547;
    margin: 20px auto 10px auto;
    width: 350px;
}

.label {
    text-align: right;
    font-weight: bold;
    border-right: 1px solid #7b5547;
    padding: 7px 6px 7px 6px;
    margin-right: 4px;
    vertical-align: top;
}

.panel-ornament {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #3d1919;
    border-spacing: 0px;
    border-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/panelFrame.png") 24 35 round;
    border-image-width: 24px 35px;
    word-wrap: break-word;
    padding: 20px 6px;
}

.panel-round {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #3d1919;
    border-spacing: 0px;
    border-image: url("lib://com.github.lector.dsa5maptool/images/mainTheme/panelBubble.png") 20 20 round;
    border-image-width: 20px 20px;
    word-wrap: break-word;
    padding: 20px;
}

.heading {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-family: "IM Fell DW Pica";
    font-size: 11pt;
    text-transform: uppercase;
    width: calc(100% - 20px);
    border-top: 1px solid #eee5c8;
    border-bottom: 1px solid #eee5c8;
    padding: 3px 10px 3px 10px;
    justify-items: center;
    align-items: center;
}